*{
    box-sizing: border-box;
}
/* Header */
.header{
    background:linear-gradient(to top, rgb(0,0,0,0.5)70%, rgb(0,0,0,0.5)30%),url(/photo/background.jpg);
    box-sizing: border-box;
    scroll-behavior: smooth;
    width: 100%;
    height: 47em;
    background-size: cover;
    background-position: center;
}
/* Navbar */
.nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    transition: .5s all ease-in-out;
}
.nav .container-fluid{
    display: flex;
    height: 70px;
    transition: .5s all ease-in-out;
}
.nav.active{
    background-color: #000;
}
.nav.active .container-fluid{
    height: 80px;
}
.header ul.active{
    transform: translateX(100%);
    background: url();
}
.nav-link{
    color: white;
    transition: .4s ease;
}
.container-fluid .bars {
    display: none;
}
.container-fluid .navbar-brand{
    font-family: 'thuluth-decorated';
    cursor: pointer;
}
.navbar-brand{
    margin-right: 70px;
    margin-top: 7px;
    font-size: 60px !important;
    color: green;
}
/* Title */
.h5{
    color:rgb(232, 234, 236);
    font-size: 25px; 
    font-family: 'rsail-bold'; 
    padding-top: 10px;
}
.title{
    margin-top: 190px;
    margin-right: 50PX;
    position:relative;
    transform: translateY(-50%);
    direction: rtl;
}
.h1{
    color: white;
    font-size: 30px;
}
.btn1{
    background-color: transparent;
    color: white;
    margin-top: 12px;
    border: 2px rgb(255, 255, 255) solid;
    border-radius: 10px;
    transition: .5s all ease-in-out;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    padding: 5px 15px;
    font-weight: bold;
    font-family:sans-serif;
    font-size: 20px;

}
.btn1:hover{
    color: black;
    background-color: white;
} 
.span{
    color: green;
    font-size: 50px;
}
/* Pray for Section */
.box{
    min-height: 350px;
    position: relative;
    box-shadow: 4px 4px 4px 0 inset rgb(179, 175, 175),
                -4px -4px 4px 0px inset rgb(179, 175, 175);
    color: rgb(27, 23, 19);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center; 
    padding: 50px 20px;
    margin-top: 45px;
    color: rgb(11, 71, 11); 
    border-bottom: 10px #00000075 solid;         
}
/* Pray Section */
.name{
    text-align: center;
    color: #247429;
    margin: 3em 0 1.5em 0;
    font-family: 'katibeh';
    font-size: 36px;
}
.pray .cards{
    display: flex;
    flex-wrap: wrap;
    direction: rtl;
}
.cards .card{
    min-height: 320px;
    box-shadow: 0 0 5px rgb(0,0,0,0.5);
    padding: 30px 20px;
    margin: 20px auto;
}
.card:hover{
    transform: scale(0.98);
    transition: .5s all
}
.card .circle{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle svg{
    width: 210px;
    height: 210px;
}
.circle svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke: #43a047;
    transform: translate(5px,5px);
    stroke-dasharray: 630px;
    stroke-dashoffset: 70px;
    animation: dash 2s linear infinite;
}
.circle .prayTime{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: #43a047;
    font-size: 40px;
    font-family: cursive;
    text-align: center;
}
.card p{
    color: #43a047;
    font-size: 27px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
}
/* Footer */
.footer{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: green;
    color: #fff;
    margin-top: 10em;
}
.btn-social{
    border-radius: 0px 20px 0 20px;
    display: inline-flex;
    width: 3.25rem;
    height: 3.25rem;
    font-size: 1.25rem;
    justify-content: center;
    align-items: center;
}
/* Sociol Btn */
#face:hover{
    color: #fff;
    background: #425aa1;
    transition: .3s all;
}
#porto:hover{
    color: #fff;
    background: #008763;
    transition: .3s all;
}
#insta:hover{
    color: #fff;
    background: rgb(224, 39, 76);
    transition: .3s all;
}
#linked:hover{
    color: #fff;
    background: #0091a0;
    transition: .3s all;
}
#github:hover{
    color: #fff;
    background: rgba(0, 0, 0, 0.638);
    transition: .3s all;
}
.copyright { 
    background-color: rgb(2, 99, 2);
    font-family: system-ui;
}
.lead{
    font-family: sans-serif;
}
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #ffffff;
    background-size: 400%;
    color: rgb(6, 146, 39);
    margin-top: 1em;
    border: 1px #fff solid;
}
.button:hover {
    color: #fff;
}
.button:hover::before {
    transform: scaleX(1);
}
.button-content {
    position: relative;
    z-index: 1;
}
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    color: #fff;
    background: linear-gradient(
        82.3deg,
        rgb(2, 168, 46) 10.8%,
        rgb(3, 117, 28) 94.3%
    );
    transition: all 0.475s;
}
/* Scroll Btn */
.scrollBtn{
    direction: rtl;
    position: fixed;
    right: 20px;
    bottom: 0;
    color: white;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43a047;
    border-radius: 50%;
    font-size: 20px;
    transition: .2s bottom ease-in-out;
    bottom: -50px;
    cursor:pointer;
}
.scrollBtn.active{
    bottom: 20px;
}


@media (max-width : 1024px) {
    .lecture-container .right, .lecture-container .left {
        width: 98%;
    }
}

@media (min-width: 576px) { 
    .container {
        max-width: 540px;
    }    
}

@media (min-width: 768px){ 
.container {
    max-width: 740px;
    }
}

@media (min-width: 1000px){ 
    .container {
        max-width: 1000px;
        }
}